<!DOCTYPE html>
<html>
<head>
    <title>Таємний Санта</title>
    {% load static %}  <!-- Додаємо цей рядок -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Таємний Санта</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="add_participant">Додати учасника</button>
        </form>

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <h2>Список учасників:</h2>
        <ul>
            {% for participant in participants %}
                <li>
                    {{ participant }}
                    <!-- Видалити учасника -->
                    <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="participant_name" value="{{ participant }}">
                        <button type="submit" name="remove_participant">Видалити</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        {% if participants %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="generate_pairs">Згенерувати пари для всіх учасників</button>
            </form>
        {% else %}
            <p>Немає учасників у списку.</p>
        {% endif %}

        {% if pairs %}
            <h2>Пари учасників:</h2>
            <ul>
                {% for giver, receiver in pairs %}
                    <li>{{ giver }} дарує подарунок {{ receiver }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <button type="submit" name="clear_participants">Очистити список учасників</button>
        </form>

        <a href="{% url 'is_christmas' %}">Повернутися на головну</a>
    </div>
</body>
</html>
